@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<MovTicket.Models.Entities.Movie>

<h1>Movies</h1>


<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Release Date</th>
        <th>Room</th>
        <th>Show Time</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.m_id</td>
                <td>@movie.m_title</td>
                <td>@movie.m_genre</td>
                <td>@movie.m_releaseDate</td>
                <td>@movie.m_room</td>
                <td>@movie.m_showTime</td>
            </tr>
        }
    </tbody>
</table>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Movie details
    </button>
    <ul class="dropdown-menu">
        @foreach (var movie in Model)
        {
            <li><a class="dropdown-item" asp-action="@movie.m_id">@movie.m_id @movie.m_title</a></li>

        }
    </ul>
</div>